.image img{
    width: 400px;
    height: 300px;
    padding: 20px;
    border: 5px solid black;
    margin: 5px;
}

.image2 img{
    width: 400px;
    height: 300px;
    padding: 20px;
    border: 5px solid black;
    margin: 5px;
}

body{
    height: 4000px;
}

.car1{
    position: fixed;
    bottom: 0px;
    width: 100px;
    height: 80px;
    left: -90px;
}

.car2{
    position: fixed;
    bottom: 0px;
    width: 100px;
    height: 80px;
    left: -90px;
}

.tabs{
    width: 700px;

}

.tabs>span{
    display: inline-block;
    width: 100px;
    height: 25px;
    padding-top: 8px;
    background-color: aquamarine;
    color: black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3px;
}

.tabs>div{
    width: 450px;
    height: 250px;
    background-color: rgb(161, 153, 153);
    border-radius: 0 0px 10px 10px;
}